.venv/
scripts/
.DS_Store
.gitignore
.env
global-bundle.pem
__pycache__/
.vscode/launch.json
.gitignore
.vscode/tasks.json
.gitignore
.vscode/settings.json
api/api.zip
ddl.txt
lambda_deploy.zip
requirements.txt
package/db.py
package/psycopg2/__init__.py
package/psycopg2/_ipaddress.py
package/psycopg2/_json.py
package/psycopg2/_psycopg.cpython-39-darwin.so
package/psycopg2/_range.py
package/psycopg2/errorcodes.py
package/psycopg2/errors.py
package/psycopg2/extensions.py
package/psycopg2/extras.py
package/psycopg2/pool.py
package/psycopg2/sql.py
package/psycopg2/tz.py
package/psycopg2/.dylibs/libcom_err.3.0.dylib
package/psycopg2/.dylibs/libcrypto.3.dylib
package/psycopg2/.dylibs/libgssapi_krb5.2.2.dylib
package/psycopg2/.dylibs/libk5crypto.3.1.dylib
package/psycopg2/.dylibs/libkrb5.3.3.dylib
package/psycopg2/.dylibs/libkrb5support.1.1.dylib
package/psycopg2/.dylibs/liblber.2.dylib
package/psycopg2/.dylibs/libldap.2.dylib
package/psycopg2/.dylibs/libpq.5.dylib
package/psycopg2/.dylibs/libssl.3.dylib
package/psycopg2_binary-2.9.12.dist-info/INSTALLER
package/psycopg2_binary-2.9.12.dist-info/METADATA
package/psycopg2_binary-2.9.12.dist-info/RECORD
package/psycopg2_binary-2.9.12.dist-info/REQUESTED
package/psycopg2_binary-2.9.12.dist-info/top_level.txt
package/psycopg2_binary-2.9.12.dist-info/WHEEL
package/psycopg2_binary-2.9.12.dist-info/licenses/LICENSE
db.py
/lambda_function.py
package/psycopg2_binary-2.9.12.dist-info/sboms/auditwheel.cdx.json
package/psycopg2_binary.libs/libcom_err-2abe824b.so.2.1
package/psycopg2_binary.libs/libcrypt-13f4f5d0.so.1
package/psycopg2_binary.libs/libcrypto-88208852.so.3
package/psycopg2_binary.libs/libgssapi_krb5-497db0c6.so.2.2
package/psycopg2_binary.libs/libk5crypto-b1f99d5c.so.3.1
package/psycopg2_binary.libs/libkeyutils-dfe70bd6.so.1.5
package/psycopg2_binary.libs/libkrb5-fcafa220.so.3.3
package/psycopg2_binary.libs/libkrb5support-d0bcff84.so.0.1
package/psycopg2_binary.libs/liblber-314cbfbf.so.2.0.200
package/psycopg2_binary.libs/libldap-331dad9d.so.2.0.200
package/psycopg2_binary.libs/libpcre-9513aab5.so.1.2.0
package/psycopg2_binary.libs/libpq-f521cc7d.so.5.17
package/psycopg2_binary.libs/libsasl2-84219a89.so.3.0.0
package/psycopg2_binary.libs/libselinux-0922c95c.so.1
package/psycopg2_binary.libs/libssl-fe1b61af.so.3
package/psycopg2/_psycopg.cpython-312-x86_64-linux-gnu.so
